@using System.Configuration;
@model mywhBlog.Models.Article.ArticleContent
@{
    ViewBag.Title = Model.article.title + " - 梦影雾花 - 个人博客 - 云在青天水在瓶";
    foreach (var item in Model.articleTag)
    {
        ViewBag.Keywords += item.tagName+",";
    }
    ViewBag.Description = Model.article.introduction;
}

<!--post-single-->
<div class="post-single">
    <div class="page-position">
        <i class="fa fa-home"></i>&nbsp;
        <span class="hidden-xs">当前位置：</span>
        <a href="@ConfigurationManager.AppSettings["blogUrl"]" title="@ConfigurationManager.AppSettings["bloggerName"]">首页</a> &raquo;
        <a href="#"title="@Model.article.title" rel="category tag">@Model.article.title</a>
        <span class="hidden-xs">&raquo; 正文</span>
    </div>
    <h1 class="single-title">
        <a href="javascript:void(0);" title="@Model.article.title" rel="bookmark">
            @Model.article.title
        </a>
    </h1>
    <div class="single-time">
        <i class="fa fa-clock-o"></i>@Model.article.createTime<em></em>
        <i class="fa fa-eye"></i>@Model.article.browserNum<em></em>
        <i class="fa fa-user"></i>@ConfigurationManager.AppSettings["bloggerName"]<em></em>
    </div>
    <div id="divContent" class="article-content">
        @Html.Raw(@Model.article.content)
    </div>
    <div class="clearfix">
    </div>
    <!--点赞分享按钮-->
    <div id="cyReward2" role="cylabs" data-use="reward">
    </div>
    <div id="cyEmoji" role="cylabs" data-use="emoji"></div>
    <div class="single-share text-center">
        <ul class="list-unstyled list-inline">
            <li>
                <div id="cyReward" role="cylabs" data-use="reward">
                    <a class="btn shang" data-toggle="modal" data-target=".dashang">
                        <i class="fa fa-gift">
                        </i>&nbsp;&nbsp;打赏
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <div class="modal fade baidushare" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        分享到
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="bdsharebuttonbox">
                        <a title="分享到新浪微博" class="bds_tsina" data-cmd="tsina"></a>
                        <a title="分享到腾讯微博" class="bds_tqq"data-cmd="tqq"></a>
                        <a title="分享到QQ空间" class="bds_qzone" data-cmd="qzone"></a>
                        <a title="分享到QQ好友" class="bds_sqq" data-cmd="sqq"></a>
                        <a title="分享到豆瓣" class="bds_douban" data-cmd="douban"></a>
                        <a title="分享到邮件分享" class="bds_mail" data-cmd="mail"></a>
                        <a title="分享到一键分享" class="bds_mshare" data-cmd="mshare"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade dashang" role="dialog" aria-labelledby="gridSystemModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="gridSystemModalLabel">
                        打赏
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-6">
                                <img src="picture/alipay.jpg" class="img-responsive" alt="支付宝打赏">
                            </div>
                            <div class="col-xs-6">
                                <img src="picture/weixin.jpg" class="img-responsive" alt="微信打赏">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--上下篇-->
    <div id="prevNext" class="prev-next">
        @foreach (var item in Model.prevNext)
        {
            if (@item.type == 1)
            {
                <p>上一篇: <a href="/@(ViewBag.menuKey)/list_@(item.articleId).html" title="@item.title">@item.title</a></p>
            }
            else
            {
                <p>下一篇: <a href="/@(ViewBag.menuKey)/list_@(item.articleId).html" title="@item.title">@item.title</a></p>
            }
        }
    </div>
    <!--标签-->
    <div class="single-tags">
        <ul class="list-unstyled list-inline" id="tagGroup">
            @foreach (var item in Model.articleTag)
            {
                <li><a href="#" title="@item.tagName">@item.tagName</a></li>
            }
        </ul>
    </div>
    <!--引用规范-->
    <div class="single-copyright">
        <i class="fa fa-hand-o-right"></i>&nbsp;&nbsp;文章来源：@ConfigurationManager.AppSettings["bloggerName"]个人博客
        <span class="hidden-xs">，欢迎分享，转载请保留出处</span><br>
        <i class="fa fa-quote-left"></i>&nbsp;&nbsp;
        <span class="hidden-xs">原文地址：</span>
        <a id="originalLink" href="" title=""></a>
    </div>
    <!--阅读延展-->
    <div class="mutuality">
        <div class="mutuality-title text-center">
            阅读延展
        </div>
        <div id="bdAd" class="row">
           
        </div>
    </div>
    <div class="comments">
        <div class="comments-title">
            <i class="fa fa-comments-o"></i><span>评论列表</span>
        </div>
        <div id="SOHUCS" sid="@Model.article.articleId"></div>
    </div>
    <script type="text/javascript">
        (function () {
            var appid = 'cysNShFuQ';
            var conf = 'prod_2a8b31dbf35e69bf446f39379263a5a6';
            var width = window.innerWidth || document.documentElement.clientWidth;
            if (width < 960) {
                window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>');
            } else { var loadJs = function (d, a) { var c = document.getElementsByTagName("head")[0] || document.head || document.documentElement; var b = document.createElement("script"); b.setAttribute("type", "text/javascript"); b.setAttribute("charset", "UTF-8"); b.setAttribute("src", d); if (typeof a === "function") { if (window.attachEvent) { b.onreadystatechange = function () { var e = b.readyState; if (e === "loaded" || e === "complete") { b.onreadystatechange = null; a() } } } else { b.onload = a } } c.appendChild(b) }; loadJs("https://changyan.sohu.com/upload/changyan.js", function () { window.changyan.api.config({ appid: appid, conf: conf }) }); }
        })(); 
    </script>
</div>

@section scripts{
    <script src="~/Scripts/device.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".article-content img").css("display", "inline-block");
            var originalLink = "@ConfigurationManager.AppSettings["blogUrl"]/@ViewBag.menuKey/@Model.article.articleId" + ".html";
            $("#originalLink").attr("href", originalLink);
            $("#originalLink").html(originalLink);
            //$("#originalLink").attr("href", window.location.href);
            //$("#originalLink").html(window.location.href);
            clickArticle(@Model.article.articleId, "@ViewBag.menuKey");

            var isMobile = device.mobile(),
                isTable = device.tablet();

            if (isMobile || isTable) {
                $("#bdAd").append('<script type="text/javascript">/*6:5 创建于 2017/9/28*/var cpro_id = "u3106185";<\/script><script type="text/javascript" src="http://cpro.baidustatic.com/cpro/ui/cm.js"><\/script>');
            }
            else {
                $("#bdAd").append('<script type="text\/javascript">/*760*90 创建于 2017/9/28*/var cpro_id = "u3106183";<\/script><script type="text\/javascript" src="http://cpro.baidustatic.com/cpro/ui/c.js"><\/script>');
            }
        });
        //访问文章
        function clickArticle(articleId, menuKey) {
            $.ajax({
                type: "post",
                url: "/ajax/Article.ashx",
                data: { action: 'clickArticle', articleId: articleId },
                async: true,
                success: function (data) {
                    var my = eval("(" + data + ")");
                }
            });
        }
    </script>
}