@using System.Configuration;
@model mywhBlog.Models.Article.ArticleList<mywhBlog.Models.Base.Article>
@{
    ViewBag.Title = Model.head.title + " - 梦影雾花 - 个人博客 - 云在青天水在瓶";
    ViewBag.Keywords = Model.head.keywords;
    ViewBag.Description = Model.head.description;
}

<!--post-multi-->
<div class="post-multi">
    <p class="multi">
        <i class="fa fa-rss"></i><span runat="server" class="title">@Model.head.title</span>
    </p>

    <div id="divArticle" runat="server">
        <ul class="list-unstyled">
        @foreach (var item in Model.paging.list)
        {
            <li>
                <div class="post-article">
                    <h2 class="pull-left multi-title">
                        <a href="@ConfigurationManager.AppSettings["blogUrl"]/@ViewBag.menuKey/@(item.articleId).html" title="@item.title" rel="bookmark">
                            @item.title
                        </a>
                    </h2>
                    <span class="pull-right multi-time hidden-xs">@item.createTime</span>
                </div>
            </li>
        }
        </ul>
        <!--pagebar-->
        <div class="pagebar">
            <ul id="divPage"></ul>
        </div>
    </div>
</div>

@section scripts{
    <script src="/assets/paginator/bootstrap-paginator.js"></script>
    <script type="text/javascript">
        $(function () {
            getArticleList(@Html.ViewContext.RouteData.Values["id"]);
        });


        //获取文章列表
        function getArticleList(curr) {   
            var options = {
                currentPage: curr||@ViewBag.page,
                bootstrapMajorVersion: 3,
                totalPages: @Model.paging.totalPages,
                pageUrl: function (type, page, current) {
                    return "@ConfigurationManager.AppSettings["blogUrl"]/@ViewBag.menuKey" + "/list_" + page + ".html";
                }
            }

            $("#divPage").bootstrapPaginator(options);

        }

        ////访问文章
        //function clickArticle(articleId, menuKey) {
        //    $.ajax({
        //        type: "post",
        //        url: "/ajax/Article.ashx",
        //        data: { action: 'clickArticle', articleId: articleId },
        //        success: function (data) {
        //            window.location.href = "/" + menuKey + "/" + articleId + ".html";
        //            var my = eval("(" + data + ")");
        //        }
        //    });
        //}
    </script>
}
